html {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
}

.container {
  height: 100%;
}

.card {
  background-color: hsl(0, 0%, 12%);
  width: 33.3%;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}

.location {
  color: hsl(75, 94%, 57%);
  font-size: 1.3125rem;
  font-weight: 500;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
}

.link-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.3rem 0;
}

.link {
  background-color:  hsl(0, 0%, 20%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
}

.link:hover, link:focus, link:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.neon {
  color: hsl(75, 94%, 57%);
}

@media screen and (max-width: 768px) {
  .card {
    width: 60vw;
  }
}